include ../lorem.pug

block vars
    - var data_jslibraries = "jslibraries-external"
    - var data_css_assets = "bootstrap-external"
    - var data_assetsFolder = "../_uncompressed/"
    - var data_minifyInfix = "" // .min
    - var data_icons_external = ".icons-external" // .min
    - var data_css = "" // .min
    - var data_image_compression = "50" // 50 | 30
    - var data_js_async = false // false || true

doctype html
html(lang="de")

    head
        meta(charset="utf-8")
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        meta(name="viewport", content="width=device-width, initial-scale=1")
        
        
        if (data_css_assets === "bootstrap-external")
            link(href=data_assetsFolder + "bootstrap" + data_minifyInfix + ".css", rel="stylesheet")
            link(href=data_assetsFolder + "styles" +data_icons_external + data_minifyInfix + ".css", rel="stylesheet")

        if (data_css_assets === "bundled")
            link(href=data_assetsFolder + "styles.bundled" + data_minifyInfix + ".css", rel="stylesheet")

        if (data_css_assets === "bundled_purified")
            link(href=data_assetsFolder + "styles.bundled_purified" + data_minifyInfix + ".css", rel="stylesheet")

        if (data_jslibraries === "jslibraries-external")
            script(src=data_assetsFolder + "jquery" + data_minifyInfix + ".js")
            script(src=data_assetsFolder + "d3" + data_minifyInfix + ".js")
            script(src=data_assetsFolder + "script" + ".js")

        if (data_jslibraries === "jslibraries-bundled")
            if (data_js_async)
                script(src=data_assetsFolder + "script.jslibraries-bundled" + ".js" async defer)
            if (!data_js_async)
                script(src=data_assetsFolder + "script.jslibraries-bundled" + ".js")

        if (data_jslibraries === "jslibraries-shaken")
            if (data_js_async)
                script(src=data_assetsFolder + "script.jslibraries-shaken" + ".js" async defer)
            if (!data_js_async)
                script(src=data_assetsFolder + "script.jslibraries-shaken" + ".js")
    
        if (data_css)
            style 
                != data_css



        block title
            title PageSpeed benchmark


    body
        .container
            .row
                .col-xs-12
                    h1 Menu with SVG icons
                    ul.menu
                        li.svg__menu-1 &nbsp;
                        li.svg__menu-2 &nbsp;
                        li.svg__menu-3 &nbsp;
                        li.svg__menu-4 &nbsp;
                        li.svg__menu-5 &nbsp;
                        li.svg__menu-6 &nbsp;
                        li.svg__menu-7 &nbsp;
                        li.svg__menu-8 &nbsp;
                        li.svg__menu-9 &nbsp;
                        li.svg__menu-10  &nbsp;

                .col-xs-12

                    h1 Hero image caroussel
                    .slider
                        each i in [0,1,2,3,4]
                            .slider-element
                                img(src="../_images/min/photo-0" + i + "-q" + data_image_compression + "-600x400.jpg" class="img600x400")

                .col-xs-12.col-md-8

                    h1 Teasers
                    each i in [0,1,2,3,4,5,6,7,8,9]
                        .media.teaser
                            .media-body
                                h3
                                    +lipsum(1, 'words')
                                p 
                                    +lipsum(1, 'paragraphs')
                            .media-right
                                img(src="../_images/min/photo-0" + i + "-q" + data_image_compression + "-300x200.jpg"  class="img300x200")
                            


                .col-xs-12.col-md-4
            
                    h1 News items
                    each i in [0,1,2,3,4,5,6,7,8,9]
                        .media.news-item
                            .media-body
                                h3 
                                    +lipsum(1, 'words')
                                p 
                                    +lipsum(1, 'paragraphs')
                            .media-right
                                img(src="../_images/min/photo-0" + i + "-q" + data_image_compression + "-200x133.jpg"  class="img200x133")
                


