include ./lorem.pug



- var minifyInfix = ""
if (data.minify === "minify")
   - var minifyInfix = ".min"

- var assetsFolder = "../_shared/"
if (data.compress === "compress")
    - var assetsFolder =  "../_shared_compressed/"


doctype html
html(lang="de")

    head
        meta(charset="utf-8")
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        meta(name="viewport", content="width=device-width, initial-scale=1")
        
        
        if (data.bootstrap === "bootstrap-external")
            link(href=assetsFolder + "bootstrap" + minifyInfix + ".css", rel="stylesheet")
            link(href=assetsFolder + "styles" + minifyInfix + ".css", rel="stylesheet")

        if (data.bootstrap === "bootstrap-bundled")
            link(href=assetsFolder + "styles.bootstrap" + minifyInfix + ".css", rel="stylesheet")

        if (data.bootstrap === "bootstrap-bundled-shaken")
            link(href=assetsFolder + "styles.bootstrap-shaken" + minifyInfix + ".css", rel="stylesheet")


        block title
            title PageSpeed benchmark



    body

        .c-kfb-forum-chart
        
      
        if (data.jslibraries === "jslibraries-external")
            script(src=assetsFolder + "jquery" + minifyInfix + ".js")
            script(src=assetsFolder + "d3" + minifyInfix + ".js")
            script(src=assetsFolder + "topojson" + minifyInfix + ".js")
            script(src=assetsFolder + "script" + ".js")

        if (data.jslibraries === "jslibraries-shaken")
            script(src=assetsFolder + "script.jslibraries-shaken" + ".js" async)

